---
layout: default
---


  <!-- Feature Post -->
        {% assign post = site.posts.first %}
        {% assign content = post.content %}
        {% include feature_post.html %}

<div class="earlier-posts">
<div class="container">
<div class="row">
      <div class="offset-by-one ten columns">
  <h3 class="">Earlier Posts</h3>
  <ul>
{% for post in site.posts offset: 1 limit: 5 %}
<li><img src="/{{ site.authors[post.author].thumbImg }}" class="earlier-posts-profile-image"/>  <a href="{{ post.url }}">{{ post.title }}</a> by: {{ site.authors[post.author].name }}</li>
    {% endfor %}
  </ul>
</div>
</div>
</div>
