---
layout: default
---

<div class="container">
  <div class="row">

    <div class="ten columns offset-by-one">

<!-- Author name  -->
    <section class="author-profile">
      <h1 class="center">{{ site.authors[page.handle].name }}</h1>
      <p class="center">{{ site.authors[page.handle].job_title }}</p>

      <p class="author-page-bio center">{{ site.authors[page.handle].bio }}</p>
      <p class="center"><img src="/{{ site.authors[page.handle].thumbImg }}" class="profile-image"/></p>
      <hr />
    </section>

<!-- Author posts  -->
      <section class="author-posts">
      <ul>
        {% for p in site.posts do %}
        {% if p.author == page.handle %}
          <article>
            <li>
              <header>
                <p><time pubdate datetime="{{ p.date }}">{{ p.date | date: "%b %-d, %Y" }}</time></p>
                <h4><a href="{{ p.url }}">{{ p.title }}</a></h4>
              </header>
              <p>{{ p.excerpt }}</p>
              <hr />
            </li>
          <article>
        {% endif %}
      {% endfor %}
      </ul>
      </section>

    </div>

</div>
</div>
