---
layout: default
---

<div class="container">

  <div class="row">

    <div class="offset-by-one ten columns">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  <article class="post-content">
    {{ content }}
    <hr />
  </article>

  </div>
  </div>


<!-- Post Author Footer -->
<div class="row">

  <div class="offset-by-one two columns col-sm-2 author">
<a href="/author/{{ site.authors[page.author].link }}" class="section-title author-name">{{ site.authors[page.author].name }}</a>
    <img src="/{{ site.authors[page.author].thumbImg }}" class="profile-image"/>
  </div>

  <div class="eight columns col-sm-6 author">

    <p class="author-bio">{{site.authors[page.author].bio}}</p>
  </div>

</div>

</div>
