---
layout: default
---
<div class="individual-post">
<div class="container">
<div class="row">

    <div class="offset-by-one ten columns">
  <header class="post-header">
    <h1 class="post-title center">{{ page.title }}</h1>
    <p class="feature-post-excerpt center">{{ page.excerpt }}</p>
    <p class="post-meta center">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} by:
<a href="/author/{{ site.authors[page.author].handle }}">{{ site.authors[page.author].name }}</a>
      {% endif %}</p>
  </header>
  <article class="post-content">
{{ post.excerpt }}

    {{ content }}
  </article>

  </div>
  </div>


<!-- Post Author Footer -->
<div class="row">

  <div class="offset-by-four four columns center">

    <div class="feature-post-author center"><img src="/{{ site.authors[page.author].thumbImg }}" class="profile-image"/> </div>
    <p class="center">by: <a href="/author/{{ site.authors[page.author].handle }}">{{ site.authors[page.author].name }}</a></p>
    <hr />
  </div>
</div>


</div>
</div>
</div>
